<?xml version="1.0"?>
<launch>

    <rosparam param="config/recharge_room"> {room: "E", x: 1.5, y: 8.0} </rosparam>
    <rosparam param="config/robot"> Robot1 </rosparam>

    <!-- Run the armor_service node -->
        <node name = "armor_service" 
            pkg="armor" 
            type = "execute" 
            args="it.emarolab.armor.ARMORMainService"/>

        <!-- Run the architecture's component. -->
        <rosparam param="state/initial_pose"> [-6.0, 11.0] </rosparam>

        <node pkg = "ExpRoLab_Assignment2"  
            type = "behavior.py"      
            name = "behavior" 
            output = "screen"
            launch-prefix="xterm -fa 'Monospace' -fs 10 -e"/>

        <node pkg = "ExpRoLab_Assignment2"  
            type = "robot_states.py" 
            name = "robot_state"
            output = "screen"
            launch-prefix="xterm -fa 'Monospace' -fs 10 -e"/>

        <node pkg="ExpRoLab_Assignment2"
            type="load_ontology.py" 
            name="load_ontology" />


</launch>